*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'League Spartan';
}
h2{
    width: max-content;
    margin: 50px auto 50px;
    /* border: 2px solid rebeccapurple; */
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: max-content;
    margin: 0 auto 20px;
}
img{
    filter: drop-shadow(2px 2px 2px);
}
.top-image{
    display: flex;
    gap: 40px;
}
hr{
    max-width:  300px;
    margin: 0 auto;
}
.scores{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
#you, #computer{
    text-align: center;
}
#you .you, #computer .computer{
    font-weight: bold;

}
.computer-score, .your-score{
    margin-top: 10px;
}
.outcome{
    /* border: 2px solid rebeccapurple; */
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.next-round{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.next-round button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.declare{
    display: flex;
    justify-content: center;
}